
     <header>
         <div class="nav-header-menu">
             <div class="profile-container">
                 <a href="/" class="profile-wrap text-center">
                     <img style="height: 120px;" src="premium/boxed-bg/polygon/bg/12.jpg" alt="Nitfy-style collapsed menu">
                     <span style="font-size: 50px; margin-left: 50px; font-weight: lighter;  color: rgb(9, 133, 162)">Nitfy-style collapsed menu</span>
                 </a>
             </div>
            <div class="main-container-user">
               <a href="/Page11">
                  <div class="rectangle-bell">
                     <img class="image-rec-2" src="img/images/out-out.png" alt="logout">
                  </div>
               </a>
               <div class="rectangle-out">
                  <img class="image-rec-1" src="img/images/bell.png" alt="bell">
                  <img style="position: relative;left:22px;top:-21px;height: 20px;" src="img/images/sharedinstant-2.png" alt="logout">
                  <span class="cart-summ">3</span>
                  <div class="cart-inform">
                     <div class="cart-inform-container"></div>
                     <div class="to-do-cart">
                        <span class="to-do-data-text">
                           <div class="circle-to-do">1</div>
                           <p>To do to do to do</p>
                        </span>
                     </div>
                     <div class="to-do-cart">
                        <span class="to-do-data-text">
                           <div class="circle-to-do">2</div>
                           <p>To do to do to do</p>
                        </span>
                     </div>
                     <div class="to-do-cart">
                        <span class="to-do-data-text">
                           <div class="circle-to-do">3</div>
                           <p>To do to do to do</p>
                        </span>
                     </div>
                  </div>
               </div>
               <a class="layout-settings" href="/Page12">
                  <div class="user-layout-container">
                     <div class="layout-float-left">
                        <img class="layout-float-left" src="img/profile-photos/2.png" style="height: 120px;" alt="Profile Picture">
                     </div>
                     <div class="user-name-layout-container">
                        <div class="user-layout-name" >Jone Hill</div>
                        <div class="user-layout-surname">JoneHill@mail.com</div>
                     </div>
                  </div>
               </a>
            </div>
         </div>
         <!--================================-->
         <!--End Navbar Dropdown-->
      </header>
@code {

}
