@page "/Login"
@inherits LoginBase
<div class="row">
    <div class="col-md-6">

        <EditForm Model="@signInModel" OnValidSubmit="@Login" >

            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row">
                    <label>Email adress</label><br />
                    <InputText @bind-Value="@signInModel.Email"  type="email" placeholder="Enter email" id="demo-inline-inputmail" ></InputText>
            </div>
            <div class="row">
                    <label>Password</label><br />
                    <InputText @bind-Value="@signInModel.Password"  type="password" placeholder="Password" id="demo-inline-inputpass" ></InputText>
            </div>
            <div class="row">
                <div class="checkbox">
                    <input id="demo-remember-me" class="magic-checkbox" type="checkbox">
                    <label for="demo-remember-me">Remember me</label>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary" type="submit">Log in</button> &nbsp;
            </div>
        </EditForm>
        @if (showSignInError)
        {
            <div class="notification is-danger" style="color:red">
                Sorry, wrong username or password
            </div>
        }
        <div class="row">
            <p>If you do not have an account register one <a href="/Register">here</a>!</p>
        </div>
    </div>
</div>

